<section class="flex justify-center self-center min-h-screen font-flower">
  <!--Contenitore generale-->
      <div class="relative w-[90%] md:w-[70%] h-[600px] grid xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-4 grid-cols-3 m-[40px] grid-flow-dense gap-[10px] flex-col md:flex-row">
        <!--Gruppo-->
        <div class="text-white bg-neutral-400 p-[5px] grid text-xl text-center transition duration-500 hover:bg-[#999DA0] odd:col-span-2 md:col-span-2">
            <!-- Content -->
            <div class="flex flex-col justify-center items-center">
              <img class="w-20 h-20 md:w-24 md:h-24 lg:w-32 lg:h-32 mb-4 md:mb-6 lg:mb-8" src="gym.png" alt="">
              <p class="whitespace-normal text-sm md:text-base lg:text-lg">Sala pesi attrezzata per tutti i tipi di allenamento</p>
            </div>
        </div>
        <!--Gruppo-->
        <div class="text-white bg-neutral-400 p-[5px] grid text-xl text-center transition duration-500 hover:bg-[#C21A09]">
            <!-- Content -->
            <div class="flex flex-col justify-center items-center">
              <img class="w-20 h-20 md:w-24 md:h-24 lg:w-32 lg:h-32 mb-4 md:mb-6 lg:mb-8" src="boxing-gloves.png" alt="">
              <p class="whitespace-normal text-sm md:text-base lg:text-lg">Corsi di box per tutti</p>
            </div>
        </div>
        <!--Gruppo-->
        <div class="text-white bg-neutral-400 p-[5px] grid text-xl text-center transition duration-500 hover:bg-[#63C5DA]">
            <!-- Content -->
            <div class="flex flex-col justify-center items-center">
              <img class="w-20 h-20 md:w-24 md:h-24 lg:w-32 lg:h-32 mb-4 md:mb-6 lg:mb-8" src="swim.png" alt="">
              <p class="whitespace-normal text-sm md:text-base lg:text-lg">Piscina al coperto</p>
            </div>
        </div>
        <!--Gruppo-->
        <div class="text-white bg-neutral-400 p-[5px] grid text-xl text-center transition duration-500 hover:bg-[#949494]">
            <!-- Content -->
            <div class="flex flex-col justify-center items-center">
              <img class="w-20 h-20 md:w-24 md:h-24 lg:w-32 lg:h-32 mb-4 md:mb-6 lg:mb-8" src="muay-thai.png" alt="">
              <p class="whitespace-normal text-sm md:text-base lg:text-lg">Corsi di muay thai per i ragazzi</p>
            </div>
        </div>
        <!--Gruppo--> 
        <div class="text-white bg-neutral-400 p-[5px] grid text-xl text-center transition duration-500 hover:bg-[#BF92E4]">
            <!-- Content -->
            <div class="flex flex-col justify-center items-center">
              <img class="w-20 h-20 md:w-24 md:h-24 lg:w-32 lg:h-32 mb-4 md:mb-6 lg:mb-8" src="dj-mixer.png" alt="">
              <p class="whitespace-normal text-sm md:text-base lg:text-lg">Corsi di hip hop per gli iscritti</p>
            </div>
        </div>
        <!--Gruppo-->
        <div class="text-white bg-neutral-400 p-[5px] grid text-xl text-center transition duration-500 hover:bg-[#ED820E]">
            <!-- Content -->
            <div class="flex flex-col justify-center items-center">
              <img class="w-[80px] h-[86px] md:w-[96px] md:h-[96px] lg:w-[128px] lg:h-[128px] mb-4 md:mb-6 lg:mb-8" src="basketball.png" alt="">
              <p class="whitespace-normal text-sm md:text-base lg:text-lg mt-4">Campetto da basket indoor</p>
            </div>
        </div>
        <!--Gruppo-->
        <div class="text-white bg-neutral-400 p-[5px] grid col-span-2 xl:col-span-1 lg:col-span-1 md:col-span-1 text-xl text-center transition duration-500 hover:bg-[#FEE135]">
            <!-- Content -->
            <div class="flex flex-col justify-center items-center">
              <img class="w-20 h-20 md:w-24 md:h-24 lg:w-32 lg:h-32 mb-4 md:mb-6 lg:mb-8" src="volleyball.png" alt="">
              <p class="whitespace-normal text-sm md:text-base lg:text-lg">Campo da beach volley</p>
            </div>
        </div>
      </div>
</section>